.schedule {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.schedule #invitext {
    text-align: right;
    position: absolute;
    right: 2%;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 22;

}

#invitext-en {
    width: 35%;
}

@media (max-width: 768px) {
    #invitext-en {
        right: 0%;
        width: 23%;
        transform: translateY(-10%);
    }
}


.schedule #information {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .schedule #information .dateimg {
    width: 30%;
    height: 458px;
    /* background-color: #3C7CA0; }*/


.schedule #information .datetext {
    border-radius: 10px;
    width: 50%;
    background-color: rgba(233, 211, 152, 0.4588235294);
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    margin-top: 60px;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;

}

#datetext_ul {

    height: 85%;
width: 100%;


}
/* NEWS */
#newstext {
    display: inline-block;
    padding: 15px 20px 15px 5px;
    color: #f4eeee;
    font-size: 40px;
    font-weight: bolder;


}

.btn-top {
    width: 100px;
    height: 25px;
    background-color: #F2B90F;
    border-radius: 5px;
}

.btn-top a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn-top:hover {
    background-color: rgb(225, 158, 50);
    color: white;
}


.schedule #information .datetext .date {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.schedule #information .datetext .title {
    font-size: 18px;
    font-weight: bolder;
    display: block;
    padding-left: 10px;
}

.schedule #information .datetext .description {
    margin-bottom: 30px;
    display: block;
    padding-left: 10px;
    font-size: 16px;
    /* margin-top: -25px; */
}

.schedule #iconCar {
    width: 300%;
    position: absolute;
    left: -355%;
    z-index: 22;
    top:-50px;
}

.schedule #lineimg {
    width: 20%;
    position: absolute;
    left: -5%;
    bottom:18%;
}

.schedule #mailtext {
    width: 385px;
    height: 140px;
    background-color: #048ABF;
    color: white;
    margin-left: 64%;
    margin-top: 4%;
    position: relative;
    padding: 20px;
    font-size: 22px;
}

.schedule #mailtext .img_active {
    position: absolute;
    right: 10%;
    top: -12%;
    font-size: 42px;
}

.schedule #mailtext p,
.schedule #mailtext a {
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: absolute;
}

.schedule #mailtext p {
    top: 30%;
}

.schedule #mailtext a {
    top: 50%
}


.schedule #mailtext .img_music {
    width: 120px;
    position: absolute;
    left: 10%;
    bottom: -10%;
}

.footer-box {
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-box .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50%;
}

.footer-box .logo img {
    width: 300px;
}

.footer-box .link {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.footer-box .link a:nth-child(1) {
    display: inline-block;
    margin: 22px 20px;
}

.footer-box .link a:nth-child(2) {
    display: inline-block;
    margin: 25px 20px;
}

.footer-box .link a:nth-child(3) {
    display: inline-block;
    margin: 20px;
}

.footer-box .link a:nth-child(4) {
    display: inline-block;
    margin: 24px 20px;
}

.footer-box .text {
    width: 100%;
    height: 30%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
}


.footer-hover:hover {
    transform: scale(1.2);
}


@media (max-width: 1815px) {
    .footer-box .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .schedule #mailtext .img_music {
        width: 160px;
    }

    .schedule #invitext {
        text-align: right;
        position: absolute;
        right: 2%;
        bottom: 35%;
        /* transform: translateY(50%); */
        z-index: 22;

    }

    .schedule {
        height: 100%;
        position: relative;
    }

    .schedule #information {
        height: 100%;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content:center;
    }

    /* .schedule #information .dateimg {
        width: 75%;
        height: 350px;
        /* height: 1000px; */
    /* background-color: rgba(233, 211, 152, 0.4588235294); */
    /*z-index: 99;
        text-align: center;
        padding: 30px 0;} */

    .schedule #information .datetext {
        width: 70%;
        z-index: 99;
        margin-top: 60px;
    }



    .schedule #lineimg {
        width: 25%;
        position: absolute;
        left: -5%;
        bottom: 10%;
    }

    .schedule #mailtext {
        /* width: 20%;
        height: 120px;
        margin: auto; */
        font-size: 20px;margin-left: 60%;
   }

    .schedule #mailtext .img_music {
        position: absolute;
        left: 10%;
        bottom: -15%;
    }

    .footer-box {
        margin-top: 120px;
        margin-bottom: 50px;
    }
}

@media (max-width: 1440px) {
    .schedule #mailtext {
        /* width: 20%;
        height: 120px;
        margin: auto; */
        font-size: 20px;margin-left:48%;
   }
   .schedule #iconCar {
    width: 140%;
    position: absolute;
    left: -150%;
    z-index: 22;
    top:50px;
}

}



@media (max-width: 1370px) {
    .schedule #invitext {
        text-align: right;
    }


    .footer-box .text :nth-child(1) {
        width: 80%;
    }

    .footer-box .text #foot {
        padding-top: 20px;
    }
}

/* @media (max-width: 1100px) {
    .schedule #iconCar {
        position: absolute;
        left: 10%;
        bottom: -10%;
        transform: translateY(220%);
    }
} */



@media (max-width: 1024px) {

    .schedule #mailtext {
        font-size: 20px;
        margin-left:0%;
        margin: auto;
        width: 65%;
   }

    .footer-box .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer-box .logo img {
        width: 35%;
    }
    .schedule #iconCar {
        width:40%;
left: 100%;
transform: translateX(-100%);
top:80%

    }
}

@media (max-width: 860px) {

    .schedule #iconCar {
        width:40%;
left: 100%;
transform: translateX(-100%);
top:80%

    }
}

@media (max-width: 768px) and (min-width: 375px) {
    .schedule #information .datetext {
        width: 70%;
    }
    .footer-box {
        margin-top:-10px;
    }
    /* .schedule #iconCar {
        width:25%;
        left:60%;
        top:36;
    } */
    /* .schedule #iconCar {
        width: 80%;
        height: 200px;
        position: absolute;
        left: 10%;
        bottom: 10%;
    } */

    .schedule #lineimg {
display: none;
    }
    .text{font-size: 14px;}
    .schedule #mailtext {
        margin-top: 10%;
        height: 70px;
        font-size: 14px;
    }
    .schedule #information .datetext {width: 100%;}

    .schedule #information .datetext .title {
        font-size: 14px;
    }

    .schedule #information .datetext .date {
        font-size: 14px;
    }

    .schedule #information .datetext .description {
        font-size: 14px;
    }
    #newstext {
        display: inline-block;
        padding: 15px 20px 15px 5px;
        color: #f4eeee;
        font-size: 30px;

        font-weight: bolder;


    }
    /* .schedule #information .datetext .description2 {
    margin-bottom: 25px;
    display: block;
} */
}

/*# sourceMappingURL=invitation.css.map */

@media(max-width:500px)
{    .schedule #iconCar {
    width:25%;
left: 97%;
transform: translateX(-100%);
top:70%

}

}
